HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### VARIÁVEIS DE AMBIENTE (dotenv) ###
### Arquivos de configuração local que podem conter segredos (ex: credenciais de banco, chaves de API).
### Estes arquivos NÃO devem ser versionados para evitar exposição acidental de informações sensíveis.
### Manter somente uma versão de exemplo (.env.example) com valores fictícios para referência.
### Eles NÃO são gerados pelo Spring Initializr oficial, mas foram incluídos neste projeto para fins didáticos e de conveniência.
.env
.env.*
!.env.example
